* {
  font-family: 'Courier New', Courier, monospace; }

p {
  white-space: pre; }
  p .skin::selection {
    background-color: #ecf4f9; }
  p .capWhite::selection {
    background-color: #ecf4f9; }
  p .cap::selection {
    background-color: #ff401a; }
  p .antenna_light::selection {
    background-color: #98ff1a; }
  p .antenna::selection {
    background-color: #75d105; }
  p .antenna_dark::selection {
    background-color: #539108; }
  p .border::selection {
    background-color: black; }
  p .skin_shadow::selection {
    background-color: #9fcadf; }
  p .eye::selection {
    background-color: #0d2573; }
